<div>
  <h2>All Articles</h2>
  <ul>
    <% @articles.each do |article| %>
      <li><a href="/articles/<%= article.id %>"><%= article.title %></a></li>
    <% end %>
  </ul>
</div>
<%= link_to "Make a new article", new_article_path, class: "new_article" %>
